<header>
    <div class="website-logo-and-name">
        <img src="/pictures/Asset1.png" alt="logo">
        <h2 style="display: inline;">Pet care connect</h2>
    </div>
    <ul>
        <li class="post"><a href="/client_post">Post</a></li>
        <li class="decouvrir"><a href="/client_decouvrir">Découvrir</a></li>
        <li class="profile"><a href="/client_profile">Profile</a></li>
        </li>
    </ul>
        
    <div id="dropdown-profil">
        <a href="/auth/logout">Logout</a>
        <img src="/icons/logout.png" alt="" class="logout">
    </div>
</header>