<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirstPage</title>
    <link rel="stylesheet" href="/css/FirstPage_style.css">
</head>
<body>
    <div class="our-info" id="our-info">
                <div>
                    <img class="firas" src="/pictures/1707682069549_square.jpg" alt="">
                <p class="firas-description"><span><h1>Firas Hedfi</h1></span></p>
                </div>
                
                <div>
                    <img class="nader" src="/pictures/1708726118826.jpg" alt="">
                    <p class="nader-description"><span><h1>Nader Madiouni</h1></span></p>
                </div>
                
                <div>
                    <img class="rayen" src="/pictures/1707680787050.jpg" alt="">
                    <p class="rayen-description"><span><h1>Rayen Barkaoui</h1></span></p>
                </div>
                
                <div>
                    <img class="eya" src="/pictures/1707680910895.jpg" alt="">
                    <p   p class="eya-description"><span><h1>Eya Dhokar</h1></span></p>
                </div>
    </div>
    <button>
                <a href="/HomePage">Start</a>
            </button>
    {{!-- <div class="container">
        <div class="firas">
            <h1>Firas</h1>
        </div>
        <div class="nader">
            <h1>Nader</h1>
        </div>
        <div class="rayen">
            <h1>Rayen</h1>
        </div>
        <div class="eya">
            <h1>Eya</h1>
            <button>
                <a href="/HomePage">Start</a>
            </button>
        </div> --}}
    </div>
</body>
</html>