<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet care connect</title>
    <link rel="stylesheet" href="/css/HomePage_style.css">
</head>
<body>
    <header>
            <div class="website-logo-and-name">
                <img src="/pictures/Asset1.png" width="45" alt="">
                <h1 style="display: inline;">Pet Care Connect</h1>
            </div>
            <ul>
                <li><a href="#website-info">Acceuil</a></li>
                {{!-- <li><a href="#our-info">About us</a></li> --}}
                <li><a href="#Contact-us">Contact us</a></li>
                <li><a href="/login">Connect</a></li>
            </ul>
    </header>
    <div class="grid-layout">
        <div class="website-info" id="website-info">
            <p><span>Bienvenue sur notre site de garde d'animaux</span> Gardez vos amis à quatre pattes entre<br> de bonnes mains avec nous!</p>
        </div>
        <main>
            <div class="animals">
                <div class="animal-1">
                    <p>Solitude et Anxiété : Les animaux domestiques, notamment les chiens et les animaux sociaux comme les chats, peuvent ressentir de la solitude et de l'anxiété lorsqu'ils sont laissés seuls pendant de longues périodes.</p>
                    <img src="/pictures/vecteezy_perro-pastor-aleman-fondo-transparente_12893842.png" alt="">
                </div>
                <div class="animal-2">
                    <p>Accidents et Blessures : Les animaux laissés sans surveillance peuvent se livrer à des comportements risqués tels que mâcher des cordons électriques, ingérer des substances toxiques ou se retrouver coincés dans des endroits dangereux, ce qui peut entraîner des accidents et des blessures.</p>
                    <img src="/pictures/vecteezy_dog-and-cat-free-illustration-icons_22984723.png" alt="">
                </div>
                <div class="animal-3">
                    <img src="/pictures/vecteezy_beautiful-green-birds-icon-free-illustration_22911692.png" alt="">
                    <p>LProblèmes de Santé : Le manque de supervision peut entraîner le fait que les animaux domestiques ne reçoivent pas de repas, de médicaments ou de soins médicaux en temps voulu en cas d'urgence. Cela peut aggraver les conditions de santé existantes ou en provoquer de nouvelles.</p>
                </div>
                <div class="animal-4">
                    <img src="/pictures/vecteezy_beautiful-green-birds-icon-free-illustration_22911692.png" alt="">
                    <p>Comportements Destructeurs : Sans stimulation et encadrement appropriés, les animaux domestiques peuvent se livrer à des comportements destructeurs tels que mâcher les meubles, creuser des trous ou aboyer de manière excessive.</p>
                </div>
            </div>
            {{!-- <div class="our-info" id="our-info">
                <img class="firas" src="/pictures/1707682069549_square.jpg" alt="">
                <p class="firas-description"><span>Firas Hedfi</span><br>21 years old, from tunisia studying in ISMAIK, patient about technologies, and want to learn new things</p>
                
                <img class="nader" src="/pictures/1708726118826.jpg" alt="">
                <p class="nader-description"><span>Nader Madiouni</span><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit error, quasi facilis ipsa esse vitae sint architecto culpa rerum pariatur. Repellat reiciendis nostrum aliquam mollitia dignissimos, nemo quam ipsum dicta.</p>
                
                <img class="rayen" src="/pictures/1707680787050.jpg" alt="">
                <p class="rayen-description"><span>Rayen Barkaoui</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid adipisci voluptatem eligendi soluta veniam quos ex nam excepturi unde animi molestiae, ut, doloribus minus! In ab quia est asperiores. Architecto?</p>
                
                <img class="eya" src="/pictures/1707680910895.jpg" alt="">
                <p class="eya-description"><span>Eya Dhokar</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quod, soluta sint at eveniet nostrum? Dolores perspiciatis reprehenderit cum ullam, quae dolore a modi, fugit libero laboriosam ex magni tempore!</p>
            </div> --}}
        </main>
        <footer id="Contact-us">
            <div class="menu">
                <h4>Menu</h4>
                <ul>
                    <li>
                        <a href="#website-info">Acceuil</a>
                    </li>
                    <li>
                        <a href="#our-info">About us</a>
                    </li>
                    <li>
                        <a href="">Connect</a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <h4>Contact us</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus corporis odio accusamus soluta inventore. Rem maiores provident minima repudiandae nesciunt, vitae, iure molestiae consequatur eum quae eveniet deleniti accusantium ipsa!</p>
            </div>
            <div class="follow-us">
                <h4>Follow us</h4>
                <div class="social-media">
                    <a href="https://www.facebook.com/" target="_blank" title="Follow us on Facebook">
                        <img src="/icons/facebook.png" alt="" width="40px">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" title="Follow us on Instagram">
                        <img src="/icons/instagram.png" alt="" width="40px">
                    </a>
                    <a href="https://twitter.com/home?lang=en" target="_blank" title="Follow us on X">
                        <img src="/icons/twitter.png" alt="" width="40px">
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>