<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin_signup_style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Page de Connexion</title>
</head>
<body>
    <div class="container">

        <div class="content">

            {{!-- <img src="/pictures/Asset1.png" style="width: 35px;" alt=""> --}}
            <h1 class="logo" style="color: white;"> Pet Care Connect</h1>

            <div class="text-sci">

                <h2>welcome<br></h2>

                {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Dolor harum illo vitae officia assumenda unde consectetur </p> --}}

                <div class="social-icons">

                    <a href="#"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>

                </div>    
            </div>
        </div>

        <div class="logreg-box">
            
            <div class="from-box register">
                
                <form action="/auth/register" method="post">
                    
                    <h2>sign up</h2>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" required name="username">
                        <label>Username</label>
                    </div>

                    <div class="radio">
                        <span>Vous êtes un : </span>
                        <input type="radio" required name="role" id="proprietaire" value="proprietaire">
                        <label for="proprietaire">Proprietaire</label>
                        <input type="radio" required name="role" id="gardien" value="gardien">
                        <label for="gardien">Gardien</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-phone' ></i></span>
                        <input type="text" required name="telephone">
                        <label style="margin: 0px 0px 0px 36px">Telephone</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" required name="email">
                        <label style="margin: 0px 0px 0px 20px;">Email</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                        <input type="password" required name="password">
                        <label style="margin: 0px 0px 0px 38px;">Password</label>
                    </div>

                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt' ></i></span>
                        <input type="password" required name="passwordConfirm">
                        <label style="margin: 0px 0px 0px 65px;">Confirm Password</label>
                    </div>

                    {{#if msg}}
                        <h4 class="{{msg_type}}">{{msg}}</h4>
                    {{/if}}
                    <button type="submit" class="btn">Sign up</button>

                    <div class="login-register">
                        <p>all ready have an account ? <a href="/login" class="login-link">Sing in</a></p>
                    </div>
                </form>
        </div>
    </div>
    
</body>
</html>